<mat-toolbar color="primary">
    <mat-toolbar-row>
    <h1 style="text-align: center" >SHOP FOR HOME</h1>
    </mat-toolbar-row>
    <mat-toolbar-row>
        
        <button mat-raised-button style="margin-right:20px" color="accent" routerLink="home" >Home</button>
        <button mat-raised-button style="margin-right:20px" color="accent" routerLink="user-login" >USER</button>
        <button mat-raised-button style="margin-right:20px" color="accent" routerLink="admin-login" >ADMIN</button>


    </mat-toolbar-row>

  </mat-toolbar>
