
<p>user works!</p>

<h1>Display List of Users</h1>

<div>
    

<div class="container col-md-6">
    <button mat-raised-button color="primary" routerLink="create-user">Create User</button>
<table class="table table-dark">


<tr><th>ID</th><th>Email</th><th>Name</th><th>Password</th><th>Phone Number</th><th>Update</th><th>Delete</th></tr>

<tr *ngFor="let user of userList" ><td>{{user.id}}</td><td>{{user.email}}</td><td>{{user.name}}</td><td>{{user.password}}</td><td>{{user.phone}}</td>

<td>
<button  (click)="updateUser(user.id)" class="btn btn-sm btn-info" >
Update</button></td>
<td>
<button  (click)="deleteUser(user.id)"  class="btn btn-sm btn-danger">
    Delete</button></td>

</tr>



</table>

</div>
